{# If we're on an episode page change the social share image #} {% if youtube_id
%} {% set social_share_image = "https://img.youtube.com/vi/" + youtube_id +
"/maxresdefault.jpg" %} {% set title = "Gregg Housh Show #" + number + " - " +
title %} {% endif %} {% if tags and tags | hasTag('post') %} {% if thumbnail %}
{% set social_share_image = metadata.url + thumbnail %} {% endif %} {% endif %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Gregg Housh, GreggHoush, gregg, housh, Twitch, Streaming, livestream Gregg Housh"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="canonical" href="{{ metadata.url }}{{ page.url | url }}" />
    <meta name="robots" content="index, follow" />
    <meta name="expires" content="never" />
    <meta name="publisher" content="Gregg Housh" />
    <meta name="author" content="Gregg Housh" />
    <meta name="Rating" content="general" />
    <meta name="Distribution" content="world" />
    <meta name="Language" content="English" />
    <meta http-equiv="Content-Language" content="en-US" />
    <link
      rel="alternate"
      href="{{ metadata.feed.path | url }}"
      type="application/atom+xml"
      title="{{ metadata.title }}"
    />
    <link
      rel="alternate"
      href="{{ metadata.jsonfeed.path | url }}"
      type="application/json"
      title="{{ metadata.title }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ metadata.url }}/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ metadata.url }}/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ metadata.url }}/favicon-16x16.png"
    />
    <link rel="manifest" href="{{ metadata.url }}/site.webmanifest" />
    <link
      rel="mask-icon"
      href="{{ metadata.url }}/safari-pinned-tab.svg"
      color="#130f40"
    />
    <meta name="msapplication-TileColor" content="#130f40" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Primary Meta Tags -->
    <title>
      {% if youtube_id %}{{ title }}{% else %}The Gregg Housh Show - {{ title
      }}{% endif %}
    </title>

    <meta name="description" content="{{ description }}" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ metadata.url }}{{ page.url | url}}" />
    <meta
      property="og:title"
      content="{% if youtube_id %} {{ title }} {% else %} The Gregg Housh Show - {{ title }}{% endif %}"
    />
    <meta property="og:description" content="{{ description }}" />
    <meta
      property="og:image"
      content="{% if social_share_image %} {{ social_share_image }} {% else %} {{ metadata.default_social_image }} {% endif %}"
    />
    <meta property="fb:app_id" content="367457277767670" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="{{ metadata.url }}{{ page.url | url }}"
    />
    <meta
      property="twitter:title"
      content="{% if youtube_id %} {{ title }} {% else %} The Gregg Housh Show - {{ title }}{% endif %}"
    />
    <meta property="twitter:description" content="{{ description }}" />
    <meta
      property="twitter:image"
      content="{% if social_share_image %} {{ social_share_image }} {% else %} {{ metadata.default_social_image }} {% endif %}"
    />
    <link rel="stylesheet" href="/style.css?v={% version %}" />
    {% block head %}{% endblock %}
  </head>
  <body
    class="bg-gradient-to-r from-neonpink to-neonblue leading-relaxed tracking-wide flex flex-col min-h-screen"
  >
    {% include "causes.njk" %} {% include "nav-bar.njk" %} {% block content %}
    {{ content | safe }} {% endblock %}

    <section class="border-t-2 w-full mx-auto text-center py-12 lg:py-24 px-4">
      <h2
        class="w-full mb-8 text-5xl font-black leading-tight text-center text-white"
      >
        Subscribe on Twitch
      </h2>
      <div class="w-full mb-8">
        <div class="h-1 mx-auto bg-white w-1/6 opacity-50 my-0 py-0"></div>
      </div>

      <h3 class="my-8 text-3xl font-extrabold text-gray-200">
        If you want me to eat, stay alive, and keep making the show, subscribe!
      </h3>

      <a
        class="inline-block mx-auto hover:bg-opacity-75 bg-gray-100 text-twitch font-extrabold text-lg rounded py-4 px-8 shadow-lg w-48 border mt-4 sm:mt-0"
        href="https://www.twitch.tv/subs/gregghoush"
        target="_blank"
        ><span class="w-4 inline-block align-middle"
          >{% include 'svg/twitch-purple.svg' %}</span
        >
        <span class="ml-2">Subscribe</span>
      </a>
      <span class="hidden sm:inline-block text-gray-100 px-4"> - OR - </span>
      <a
        class="inline-block mx-auto hover:bg-opacity-75 bg-gray-100 text-twitch font-extrabold text-lg rounded py-4 px-8 shadow-lg w-48 border mt-4 sm:mt-0"
        href="https://streamlabs.com/gregghoush/tip"
        target="_blank"
        ><span class="w-4 inline-block align-middle"
          >{% include 'svg/twitch-purple.svg' %}</span
        >
        <span class="ml-2">Tip</span>
      </a>
    </section>

    {% include "section-merch.njk" %}

    <!--Footer-->
    <footer class="py-12 lg:py-24 md:py-2">
      <div class="container mx-auto mt-4 px-8">
        <div
          class="w-full flex flex-col md:flex-row justify-center items-center"
        >
          <div class="flex-1 pr-10">
            <a
              class="text-orange-600 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
              href="/"
            >
              <img
                src="/images/gregghoush-footer-logo-light.png"
                alt="The Gregg Housh Show Logo"
                class="mb-12 md:mb-4"
              />
            </a>
          </div>

          <div class="flex-1 text-center my-4 md:my-0">
            <a
              class="uppercase underline font-bold text-gray-200 md:mb-6"
              href="/about/"
            >
              About
            </a>
          </div>
          <div class="flex-1 text-center my-4 md:my-0">
            <a
              class="uppercase underline font-bold text-gray-200 md:mb-6"
              href="/contact/"
            >
              Contact
            </a>
          </div>
          <div class="flex-1 text-center mb-4 md:mb-0">
            <a
              class="uppercase underline font-bold text-gray-200 md:mb-6"
              href="https://www.twitch.tv/subs/gregghoush"
              target="_blank"
              >Susbscribe</a
            >
          </div>
          <div class="flex-1 text-center mb-4 md:mb-0">
            <a
              class="uppercase underline font-bold text-gray-200 md:mb-6"
              href="https://streamlabs.com/gregghoush/tip"
              target="_blank"
              >Tip</a
            >
          </div>
          <div class="flex-1 text-center mb-4 md:mb-0">
            <a
              class="uppercase underline font-bold text-gray-200 md:mb-6"
              href="https://shop.spreadshirt.com/the-gregg-housh-show/"
              target="_blank"
              >Merch Shop</a
            >
          </div>
          <div class="flex-1 text-center mb-4 md:mb-0">
            <a
              class="uppercase underline font-bold text-gray-200 md:mb-6"
              href="/episodes/"
              >Episodes</a
            >
          </div>
          <div class="flex-1 text-center">
            <a
              class="uppercase underline font-bold text-gray-200 md:mb-6"
              href="/privacy-policy/"
              >Privacy Policy</a
            >
          </div>
        </div>
      </div>
    </footer>
    <script src="/js/site.js?v={% version %}"></script>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <script type="text/javascript">
      new Twitch.Embed("twitch-embed", {
        width: "100%",
        height: 696,
        channel: "gregghoush",
      });
    </script>
  </body>
</html>
