{% if pagination.pageLinks.length > 1 %}
<section>
  <div class="container max-w-5xl mx-auto">
<nav aria-labelledby="ghs-pagination" class="mb-24">
	<h2 id="ghs-pagination" class="text-2xl leading-tight text-center text-gray-200 mb-8">More {{ pagination_title }}</h2>
	<ul class="flex items-center justify-center">
		
		{% if page.url != pagination.href.first %}
		<a class="flex items-center" href="{{ pagination.href.first }}">
		{% endif %}
			<li class="mx-1 px-3 py-2 border rounded-lg font-bold {% if page.url != pagination.href.first %}border-white hover:bg-darkneonblue hover:text-gray-200 text-gray-200{% else %}bg-darkneonblue text-gray-200 cursor-not-allowed {% endif %}">
			<span class="mx-1">First</span>
		</li>
		{% if page.url != pagination.href.first %}
		</a>
		{% endif %}

		{% if pagination.href.previous %}
		<a class="flex items-center" href="{{ pagination.href.previous }}">				
		{% endif %}
		<li class="mx-1 px-3 py-2 border rounded-lg font-bold {% if pagination.href.previous %}border-white hover:bg-darkneonblue hover:text-gray-200 text-gray-200{% else %}bg-darkneonblue text-gray-200 cursor-not-allowed {% endif %}">
			<span class="mx-1">&lt;</span>
		</li>
		{% if pagination.href.previous %}
		</a>
		{% endif %}
	
		{% if pagination.pageLinks.length < 6 %}
			{%- for pageEntry in pagination.pages %}
				<a class="font-bold" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>
					<li class="text-center w-12 mx-1 px-3 py-2 rounded-lg border text-gray-200 hover:bg-darkneonblue hover:text-gray-200 {% if page.url == pagination.hrefs[ loop.index0 ] %}bg-darkneonblue{% endif %}">
						{{ loop.index }}
					</li>
				</a>
			{%- endfor %}
		{% else %}
			{%- for pageEntry in pagination.pages %}
				{%- if page.url == pagination.hrefs[loop.index0 + 2]
					or page.url == pagination.hrefs[loop.index0 + 1]
					or page.url == pagination.hrefs[loop.index0]
					or page.url == pagination.hrefs[loop.index0 - 1]
					or page.url == pagination.hrefs[loop.index0 - 2] %}
					<a class="font-bold" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>
						<li class="text-center w-12 mx-1 px-3 py-2 rounded-lg border text-gray-200 hover:bg-darkneonblue hover:text-gray-200 {% if page.url == pagination.hrefs[ loop.index0 ] %}bg-darkneonblue{% endif %}">
							{{ loop.index }}
						</li>
					</a>
				{% elseif page.url == pagination.href.first and loop.index0 < 5 %}
					<a class="font-bold" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>
						<li class="text-center w-12 mx-1 px-3 py-2 rounded-lg border text-gray-200 hover:bg-darkneonblue hover:text-gray-200 {% if page.url == pagination.hrefs[ loop.index0 ] %}bg-darkneonblue{% endif %}">
							{{ loop.index }}
						</li>				
					</a>	
				{% elseif page.url == pagination.hrefs[1] and loop.index0 < 5 %}
					<a class="font-bold" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>
						<li class="text-center w-12 mx-1 px-3 py-2 rounded-lg border text-gray-200 hover:bg-darkneonblue hover:text-gray-200 {% if page.url == pagination.hrefs[ loop.index0 ] %}bg-darkneonblue{% endif %}">
							{{ loop.index }}
						</li>					
					</a>	
				{% elseif page.url == pagination.href.last and loop.index0 > pagination.pageLinks.length - 6 %}
					<a class="font-bold" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>
						<li class="text-center w-12 mx-1 px-3 py-2 rounded-lg border text-gray-200 hover:bg-darkneonblue hover:text-gray-200 {% if page.url == pagination.hrefs[ loop.index0 ] %}bg-darkneonblue{% endif %}">
							{{ loop.index }}
						</li>					
					</a>	
				{% elseif page.url == pagination.hrefs[pagination.pageLinks.length - 2] and loop.index0 > pagination.pageLinks.length - 6 %}
					<a class="font-bold" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>
						<li class="text-center w-12 mx-1 px-3 py-2 rounded-lg border text-gray-200 hover:bg-darkneonblue hover:text-gray-200 {% if page.url == pagination.hrefs[ loop.index0 ] %}bg-darkneonblue{% endif %}">
							{{ loop.index }}
						</li>				
					</a>	
				{% endif %}		
			{%- endfor %}				
		{% endif %}		

		{% if pagination.href.next %}
		<a class="flex items-center" href="{{ pagination.href.next }}">
		{% endif %}		
		<li class="mx-1 px-3 py-2 border rounded-lg font-bold {% if pagination.href.next %}border-white hover:bg-darkneonblue hover:text-gray-200 text-gray-200{% else %}bg-darkneonblue text-gray-200 cursor-not-allowed {% endif %}">
			<span class="mx-1">&gt;</span>
		</li>
		{% if pagination.href.next %}
		</a>
		{% endif %}		
		
		{% if page.url != pagination.href.last %}
		<a class="flex items-center" href="{{ pagination.href.last }}">
		{% endif %}		
		<li class="mx-1 px-3 py-2 border rounded-lg font-bold {% if page.url != pagination.href.last %}border-white hover:bg-darkneonblue hover:text-gray-200 text-gray-200{% else %}bg-darkneonblue text-gray-200 cursor-not-allowed {% endif %}">
			<span class="mx-1">Last</span>
		</li>
		{% if page.url != pagination.href.last %}
		</a>
		{% endif %}		
			</ul>
</nav>
</div>
</section>

{% endif %}