<section>
  <div class="container max-w-5xl mx-auto">
    <div class="text-gray-700 text-xl px-12 mb-24 w-full">
      {% for post in posts %}
      <a href="{{ post.url | url }}" aria-labelledby="postlabel">
        <div
          class="flex-initial w-full overflow-hidden bg-gray-100 rounded-lg h-32 md:h-40 shadow-lg mb-8"
        >
          <div class="flex items-center h-32 md:h-40">
            <div
              class="w-3/12 md:w-1/6 px-8 text-center border-r-2 h-full flex flex-col items-center justify-center"
            >
              <p class="text-lg md:text-xl leading-tight">
                {{ post.data.date | episodeShortDate }}
              </p>
              <p class="text-sm md:text-lg leading-tight">
                {{ post.data.date | episodeYearDate }}
              </p>
            </div>
            <div
              class="w-9/12 md:w-5/6 px-8 flex flex-wrap items-center text-grey-100"
            >
              <p id="postlabel" class="font-bold text-lg md:text-4xl">
                {{ post.data.title }}
              </p>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>
