<section class=" w-full mx-auto py-12 lg:py-24">
	  <div class="container mx-auto">
		<h2
		  class="w-full mb-8 text-5xl font-black leading-tight text-center text-gray-200"
		>
		  Merch Shop
		</h2>
		<div class="w-full mb-8">
		  <div class="h-1 mx-auto bg-white w-1/6 opacity-50 my-0 py-0"></div>
		</div>
	
		<h3 class="my-8 px-12 text-3xl font-extrabold text-gray-200 text-center">
		  Buy our merch to support the show!
		</h3>
	
		<div class="mx-auto mb-12 text-center">
		  <a target="_blank" alt="" href="https://shop.spreadshirt.com/the-gregg-housh-show/">
			<img class="inline" alt="Gregg Housh Show Hoodie" src="/images/merch/black-hoodie-wide-white-logo2.png" />
			<img class="inline" alt="Gregg Housh Show Drawstring Bag" src="/images/merch/gray-drawstring-white-wide-logo2.png" />
			<img class="inline" alt="Gregg Housh Show Mug" src="/images/merch/black-mug-tower2.png" />
			<img class="inline" alt="Gregg Housh Show T-Shirt" src="/images/merch/womens-white-baseball-t-tall-logo2.png" />
		  </a>
		</div>
	
		<div class="text-center">
		  <a
			class="inline-block mx-auto hover:bg-opacity-75 bg-gray-300 text-gray-800 font-extrabold text-lg rounded py-4 px-8 shadow-lg w-64"
			href="https://shop.spreadshirt.com/the-gregg-housh-show/"
			target="_blank"
			><span class="w-6 inline-block align-middle"
			  >{% include 'svg/t-shirt-dark.svg' %}</span
			>
			<span class="ml-2 align-middle">Merch Shop</span>
		  </a>
		</div>
	  </div>
</section>