<section class="w-full mx-auto py-12 lg:py-24 border-t-2">
  <div class="container mx-auto">
    <h2
      class="w-full mb-8 text-5xl font-black leading-tight text-center text-white"
    >
      About
    </h2>
    <div class="w-full mb-8">
      <div class="h-1 mx-auto bg-white w-1/6 opacity-50 my-0 py-0"></div>
    </div>

    <h3 class="my-8 px-12 text-3xl font-extrabold text-gray-200 text-center">
      Truth, Logic, Action, Power.
    </h3>
    <div class="mx-auto">
      <p class="text-xl text-gray-200 mb-12 text-center mx-4">
        This is a show where I seek not only to inform, but to inspire you to
        action. We’re going to talk about Politics and Current Events, but we’re
        going to do it from an angle of activism, progressive values, civil
        liberties, and human rights. It’s my goal to enable an informed
        citizenry. And I'm going to do it by emphasizing critical thinking and
        actual science versus nonsensical quackery. But most important of all, I
        hope to inspire you, my listeners, to take action in your community.
      </p>
    </div>

    <div class="text-center">
      <a
        class="inline-block mx-auto hover:bg-opacity-75 bg-neonblue text-gray-200 font-extrabold text-lg rounded py-4 px-8 shadow-lg w-64"
        href="/about/"
        ><span class="w-6 inline-block align-middle"
          >{% include 'svg/smiley-light.svg' %}</span
        >
        <span class="ml-2 align-middle">More About Me</span>
      </a>
    </div>
  </div>
</section>
