---
layout: default.njk
permalink: /404.html
eleventyExcludeFromCollections: true
title: 404 Not Found
description: Official site of The Gregg Housh Show. Error page, only shown when the requested page does not exist.
---

<div class="container mx-auto text-center p-24">
  <h1 class="text-5xl text-gray-200 pb-12">Error 404 - Page Not Found</h1>
  <p class="text-3xl text-gray-200">
	Whatever you were looking for, it ain't here.
  </p>
</div>  
