---
permalink: /404.html
title: The Gregg Housh Show - 404 Not Found
description: Official site of The Gregg Housh Show. Error page, only shown when the requested page does not exist.
---

{% extends "_includes/default.njk" %}

{% block content %}

<section
class="w-full mx-auto text-center pt-24"
>
	<h1
	  class="w-full my-2 text-5xl font-black leading-tight text-center text-gray-100 mb-8"
	>
	  404 Not Found
	</h1>
	<div class="w-full">
	  <div class="h-1 mx-auto bg-white w-1/6 opacity-50 my-0 py-0"></div>
	</div>
	
	<div class="container mx-auto text-center pt-12">
	  <p class="text-3xl text-gray-200">
		Whatever you were looking for, it ain't here.
	  </p>
	</div>  
</section>

{% endblock %}