---
layout: default.njk
title: The Gregg Housh Show - About
description: Official site of The Gregg Housh Show. All about me and my journey to activism, politics and this show.
---

<section class="pt-24">
  <div class="container max-w-5xl mx-auto">
	<h1
	  class="w-full my-2 text-5xl font-black leading-tight text-center text-gray-100 mb-8"
	>
	  About
	</h1>
	<div class="w-full mb-8">
	  <div class="h-1 mx-auto bg-white w-1/6 opacity-50 my-0 py-0"></div>
	</div>
	<p class="text-3xl leading-tight text-center text-gray-200 mx-24 mb-12">
	  My path to politics and activism.
	</p>
	<div class="mx-auto mb-12 flex items-center justify-center">
		<img
		  src="/images/gregg-housh-about.jpg"
		  alt="The Gregg Housh Show Schedule"
		  class="rounded-full border-gray-200 border-2 max-w-sm"
		/>
	</div>
	<div class="w-full text-gray-200 text-xl px-12">
		<p class="mb-8">I grew up as the son of a lifelong criminal, my father was never around and when he was in town he definitely wasn’t talking to me about politics. One of my earliest memories is of him attempting to teach me to pick locks with bump keys when I was 4 years old.  I had no real lessons on right vs wrong or legal vs illegal. Which leads right into my teenage years.</p>
		<p class="mb-8">I spent much of my teens and early 20s evading an FBI task force while helping to operate one of the Internet's foremost software pirating rings and otherwise living the life of a criminal hacker. In 2000 the chase was finally over and I was arrested.  The next 7 years were spent in and out of court until I was sent to prison in 2007. I was incarcerated in a federal penitentiary, including a 27 day stay in solitary.</p>
		<p class="mb-8">Upon release, I worked a series of computer-related jobs while continuing to participate in various online subcultures, most importantly for me, Anonymous. After helping to launch Anonymous on its activist path, and receiving a lot of grief from the old anons for taking it in that direction, I was doxed online by a cult. My full information was posted on multiple websites and they were even nice enough to make a DVD about a few of us that included our names and pictures.</p>
		<p class="mb-8">During Anonymous's global protest campaign against the Church of Scientology, I began serving as a media interpreter and interview subject for newspapers, websites, radio and television. For more than a decade now I have appeared on countless news programs and been quoted in publications around the world on subjects ranging from hacking and activism to politics.</p>
		<p class="mb-8">After the wild ride of hacktivism and on the ground activism of the 2008-2010 period I took a long hard look at my personal politics, where I stood on issues and what I wanted to accomplish. I realized that activism, political action, and progressive issues were all the most important things in my life. I’ve spent all of the time since then focused on just that.</p>
	</div>

  </div>
</section>
