---
layout: default.njk
title: Home - Politics & Activism
description: Official site of Gregg Housh, I live stream Monday-Thursday night where I seek not only to inform but to inspire you to action.
---

<div class="container mx-auto">
  <div class="text-center px-3 lg:px-0">
    <p
      class="mt-8 leading-tight text-2xl md:text-xl lg:text-xl font-bold text-gray-100"
    >
      First show is up! We're working towards a regular schedule over the next
      week. Our first normal week will start on the 16th.
    </p>
  </div>

  <div class="flex items-center w-full mx-auto content-end">
    <div
      class="browser-mockup flex flex-1 m-6 md:px-0 md:m-12 bg-white w-1/2 rounded shadow-xl"
    >
      <div class="flex-1">
        <div id="twitch-embed"></div>
      </div>
    </div>
  </div>
</div>

<section class="py-12 lg:py-24">
  <h1
    class="block w-full my-2 text-5xl font-black leading-tight text-center text-gray-200 lg:mt-8 mb-8"
  >
    The Gregg Housh Show
  </h1>
  <div class="w-full mb-8">
    <div class="h-1 mx-auto bg-white w-1/6 opacity-50 my-0 py-0"></div>
  </div>
  <h2
    class="block w-full my-2 text-3xl font-black leading-tight text-center text-gray-200 lg:mt-8 mb-12"
  >
    Highlights / Clips / Content / Updates
  </h2>
  <div
    class="container flex flex-wrap mx-auto items-center justify-center text-gray-100"
  >
    <div
      class="flex-initial m-4 w-full overflow-hidden md:w-5/12 bg-twitch rounded-lg shadow-blue text-center xl:text-left"
    >
      <a
        href="https://www.twitch.tv/gregghoush"
        target="_blank"
        class="flex items-center"
        ><div class="flex flex-wrap items-center justify-center w-full">
          <div class="px-8 py-4 flex items-center justify-center">
            <span class="w-20 inline-block"
              >{% include 'svg/twitch-light.svg' %}</span
            >
          </div>
          <div class="p-4 lg:pb-4 xl:p-8">
            <p class="text-grey-100 font-bold text-4xl leading-none">Twitch</p>
            <p class="mb-4">Follow me to find out when I go live!</p>
            <span class="lg:text-right">
              <span class="border px-2 py-1 rounded">Visit My Profile</span>
            </span>
          </div>
        </div>
      </a>
    </div>

    <div
      class="flex-initial m-4 w-full overflow-hidden md:w-5/12 bg-youtube rounded-lg shadow-blue text-center xl:text-left"
    >
      <a
        href="https://www.youtube.com/channel/UC-igeMJ4Azc1HgRqeK4Rn-Q"
        target="_blank"
        class="flex items-center"
      >
        <div class="flex flex-wrap items-center justify-center w-full">
          <div class="px-8 py-4 flex items-center justify-center">
            <span class="w-20 inline-block"
              >{% include 'svg/youtube-light.svg' %}</span
            >
          </div>
          <div class="p-4 lg:pb-4 xl:p-8">
            <p class="text-grey-100 font-bold text-4xl leading-none">Youtube</p>
            <p class="mb-4">Subscribe for highlights and extra videos!</p>
            <span class="lg:text-right">
              <span class="border px-2 py-1 rounded">Visit My Profile</span>
            </span>
          </div>
        </div>
      </a>
    </div>

    <div
      class="flex-initial m-4 w-full overflow-hidden md:w-5/12 bg-twitter rounded-lg shadow-blue text-center xl:text-left"
    >
      <a
        href="https://twitter.com/gregghoushshow"
        target="_blank"
        class="flex items-center"
      >
        <div class="flex flex-wrap items-center justify-center w-full">
          <div class="px-8 py-4 flex items-center justify-center">
            <span class="w-20 inline-block"
              >{% include 'svg/twitter-light.svg' %}</span
            >
          </div>
          <div class="p-4 lg:pb-4 xl:p-8">
            <p class="text-grey-100 font-bold text-4xl leading-none">Twitter</p>
            <p class="mb-4">Follow, Like, and Retweet the pinned post!</p>
            <span class="lg:text-right">
              <span class="border px-2 py-1 rounded">Visit My Profile</span>
            </span>
          </div>
        </div>
      </a>
    </div>

    <div
      class="flex-initial m-4 w-full overflow-hidden md:w-5/12 bg-facebook rounded-lg shadow-blue text-center xl:text-left"
    >
      <a
        href="https://www.facebook.com/gregghoushshow"
        target="_blank"
        class="flex items-center"
      >
        <div class="flex flex-wrap items-center justify-center w-full">
          <div class="px-8 py-4 flex items-center justify-center">
            <span class="w-20 inline-block"
              >{% include 'svg/facebook-light.svg' %}</span
            >
          </div>
          <div class="p-4 lg:pb-4 xl:p-8">
            <p class="text-grey-100 font-bold text-4xl leading-none">
              Facebook
            </p>
            <p class="mb-4">Like my page, like/share my pinned post!</p>
            <span class="lg:text-right">
              <span class="border px-2 py-1 rounded">Visit My Profile</span>
            </span>
          </div>
        </div>
      </a>
    </div>

    <div
      class="flex-initial m-4 w-full overflow-hidden md:w-5/12 bg-instagram rounded-lg shadow-blue text-center xl:text-left text-gray-800"
    >
      <a
        href="https://instagram.com/gregghoush"
        target="_blank"
        class="flex items-center"
      >
        <div class="flex flex-wrap items-center justify-center w-full">
          <div class="px-8 py-4 flex items-center justify-center">
            <span class="w-20 inline-block"
              >{% include 'svg/instagram-dark.svg' %}</span
            >
          </div>
          <div class="p-4 lg:pb-4 xl:p-8">
            <p class="text-grey-100 font-bold text-4xl leading-none">
              Instagram
            </p>
            <p class="mb-4">Follow for show and personal posts!</p>
            <span class="lg:text-right">
              <span class="border border-gray-800 px-2 py-1 rounded"
                >Visit My Profile</span
              >
            </span>
          </div>
        </div>
      </a>
    </div>

    <div
      class="flex-initial m-4 w-full overflow-hidden md:w-5/12 bg-twitter rounded-lg shadow-blue text-center xl:text-left"
    >
      <a
        href="https://twitter.com/gregghoush"
        target="_blank"
        class="flex items-center"
      >
        <div class="flex flex-wrap items-center justify-center w-full">
          <div class="px-8 py-4 flex items-center justify-center">
            <span class="w-20 inline-block"
              >{% include 'svg/twitter-light.svg' %}</span
            >
          </div>
          <div class="p-4 lg:pb-4 xl:p-8">
            <p class="text-grey-100 font-bold text-4xl leading-none">Twitter</p>
            <p class="mb-4">Follow me on my personal account!</p>
            <span class="lg:text-right">
              <span class="border px-2 py-1 rounded">Visit My Profile</span>
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

{% include "section-schedule.njk" %} {% include "section-about.njk" %}
