---
layout: default.njk
title: Home - Politics & Activism
description: Official site of The Gregg Housh Show, a live-streamed show Monday-Thursday night where we seek not only to inform but to inspire you to action.
---

<div class="container mx-auto">
  <div class="text-center px-3 lg:px-0">
    <p
      class="my-8 leading-tight text-2xl md:text-xl lg:text-xl font-bold text-gray-100"
    >
      This site is a work-in-progress. I am still working on the design,
      features, and some of the content.
    </p>

    <div class="flex flex-wrap mx-auto justify-center items-center">
      <a
        href="https://www.twitch.tv/gregghoush"
        target="_blank"
        class="mx-2 hover:bg-opacity-75 bg-twitch text-gray-100 font-extrabold rounded my-2 md:my-6 py-4 px-6 shadow-lg w-42"
      >
        <span class="w-4 inline-block align-middle"
          >{% include 'svg/twitch-light.svg' %}</span
        >
        <span class="ml-2 align-middle">Twitch</span>
      </a>
      <a
        href="https://www.youtube.com/channel/UC-igeMJ4Azc1HgRqeK4Rn-Q"
        target="_blank"
        class="mx-2 hover:bg-opacity-75 bg-youtube text-gray-100 font-extrabold rounded my-2 md:my-6 py-4 px-6 shadow-lg w-42"
      >
        <span class="w-4 inline-block align-middle"
          >{% include 'svg/youtube-light.svg' %}</span
        >
        <span class="ml-2 align-middle">YouTube</span>
      </a>
      <a
        href="https://www.facebook.com/gregghoushshow"
        target="_blank"
        class="mx-2 hover:bg-opacity-75 bg-facebook text-gray-100 font-extrabold rounded my-2 md:my-6 py-4 px-6 shadow-lg w-42"
      >
        <span class="w-4 inline-block align-middle"
          >{% include 'svg/facebook-light.svg' %}</span
        >
        <span class="ml-2 align-middle">Facebook</span>
      </a>
      <a
        href="https://twitter.com/gregghoush"
        target="_blank"
        class="mx-2 hover:bg-opacity-75 bg-twitter text-gray-100 font-extrabold rounded my-2 md:my-6 py-4 px-6 shadow-lg w-42"
      >
        <span class="w-4 inline-block align-middle"
          >{% include 'svg/twitter-light.svg' %}</span
        >
        <span class="ml-2 align-middle">Twitter</span>
      </a>
      <a
        href="https://instagram.com/gregghoush"
        target="_blank"
        class="mx-2 hover:bg-opacity-75 bg-instagram text-gray-700 font-extrabold rounded my-2 md:my-6 py-4 px-6 shadow-lg w-42"
      >
        <span class="w-4 inline-block align-middle"
          >{% include 'svg/instagram-dark.svg' %}</span
        >
        <span class="ml-2 align-middle">Instagram</span>
      </a>
    </div>
  </div>

  <div class="flex items-center w-full mx-auto content-end">
    <div
      class="browser-mockup flex flex-1 m-6 md:px-0 md:m-12 bg-white w-1/2 rounded shadow-xl"
    >
      <div class="flex-1">
        <img src="/images/coming-soon.jpg" alt="Coming Soon" class="w-full" />
      </div>
    </div>
  </div>
</div>

<section class="py-24">
  <h1
    class="block w-full my-2 text-5xl font-black leading-tight text-center text-gray-200 lg:mt-8 mb-8"
  >
    The Gregg Housh Show
  </h1>
  <div class="w-full mb-8">
    <div class="h-1 mx-auto bg-white w-1/6 opacity-50 my-0 py-0"></div>
  </div>
  <h2
    class="block w-full my-2 text-3xl font-black leading-tight text-center text-gray-200 lg:mt-8 mb-12"
  >
    Highlights / Clips / Content / Updates
  </h2>
  <div
    class="container flex flex-wrap mx-auto items-center justify-center text-gray-100"
  >
    <div
      class="flex-initial m-4 w-full overflow-hidden md:w-5/12 bg-twitch rounded-lg h-40 shadow-blue"
    >
      <a
        href="https://www.twitch.tv/gregghoush"
        target="_blank"
        class="flex items-center h-40"
      >
        <div class="mx-4 w-1/5 text-center">
          <span class="w-20 inline-block align-middle"
            >{% include 'svg/twitch-light.svg' %}</span
          >
        </div>
        <div class="w-4/5 border-l-2 p-8">
          <p class="text-grey-100 font-bold text-4xl leading-none mb-2 mt-2">
            Twitch
          </p>
          <p>Follow me to find out when I go live!</p>
          <span class="block text-right m-4">
            <span class="border px-2 py-1 rounded">Visit My Profile</span>
          </span>
        </div>
      </a>
    </div>

    <div
      class="flex-initial m-4 w-full overflow-hidden md:w-5/12 bg-youtube rounded-lg h-40 shadow-blue"
    >
      <a
        href="https://www.youtube.com/channel/UC-igeMJ4Azc1HgRqeK4Rn-Q"
        target="_blank"
        class="flex items-center h-40"
      >
        <div class="mx-4 w-1/5 text-center">
          <span class="w-20 inline-block align-middle"
            >{% include 'svg/youtube-light.svg' %}</span
          >
        </div>
        <div class="w-4/5 border-l-2 p-8">
          <p class="text-grey-100 font-bold text-4xl leading-none mb-2 mt-2">
            Youtube
          </p>
          <p>Subscribe for highlights and extra videos!</p>
          <span class="block text-right m-4">
            <span class="border px-2 py-1 rounded">Visit My Profile</span>
          </span>
        </div>
      </a>
    </div>

    <div
      class="flex-initial m-4 w-full overflow-hidden md:w-5/12 bg-twitter rounded-lg h-40 shadow-blue"
    >
      <a
        href="https://twitter.com/gregghoushshow"
        target="_blank"
        class="flex items-center h-40"
      >
        <div class="mx-4 w-1/5 text-center">
          <span class="w-20 inline-block align-middle"
            >{% include 'svg/twitter-light.svg' %}</span
          >
        </div>
        <div class="w-4/5 border-l-2 p-8">
          <p class="text-grey-100 font-bold text-4xl leading-none mb-2 mt-2">
            The Show's Twitter
          </p>
          <p>Follow, Like, and Retweet the pinned post!</p>
          <span class="block text-right m-4">
            <span class="border px-2 py-1 rounded">Visit My Profile</span>
          </span>
        </div>
      </a>
    </div>

    <div
      class="flex-initial m-4 w-full overflow-hidden md:w-5/12 bg-facebook rounded-lg h-40 shadow-blue"
    >
      <a
        href="https://www.facebook.com/gregghoushshow"
        target="_blank"
        class="flex items-center h-40"
      >
        <div class="mx-4 w-1/5 text-center">
          <span class="w-20 inline-block align-middle"
            >{% include 'svg/facebook-light.svg' %}</span
          >
        </div>
        <div class="w-4/5 border-l-2 p-8">
          <p class="text-grey-100 font-bold text-4xl leading-none mb-2 mt-2">
            Facebook
          </p>
          <p>Like my page, like/share my pinned post!</p>
          <span class="block text-right m-4">
            <span class="border px-2 py-1 rounded">Visit My Profile</span>
          </span>
        </div>
      </a>
    </div>

    <div
      class="flex-initial m-4 w-full overflow-hidden md:w-5/12 bg-instagram rounded-lg h-40 shadow-blue text-gray-800"
    >
      <a
        href="https://instagram.com/gregghoush"
        target="_blank"
        class="flex items-center h-40"
      >
        <div class="mx-4 w-1/5 text-center">
          <span class="w-20 inline-block align-middle"
            >{% include 'svg/instagram-dark.svg' %}</span
          >
        </div>
        <div class="w-4/5 border-l-2 border-gray-600 p-8">
          <p class="font-bold text-4xl leading-none mb-2 mt-2">Instagram</p>
          <p>Follow for show and personal posts!</p>
          <span class="block text-right m-4">
            <span class="border border-gray-600 px-2 py-1 rounded"
              >Visit My Profile</span
            >
          </span>
        </div>
      </a>
    </div>

    <div
      class="flex-initial m-4 w-full overflow-hidden md:w-5/12 bg-twitter rounded-lg h-40 shadow-lg"
    >
      <a
        href="https://twitter.com/gregghoush"
        target="_blank"
        class="flex items-center h-40"
      >
        <div class="mx-4 w-1/5 text-center">
          <span class="w-20 inline-block align-middle"
            >{% include 'svg/twitter-light.svg' %}</span
          >
        </div>
        <div class="w-4/5 border-l-2 p-8">
          <p class="text-grey-100 font-bold text-4xl leading-none mb-2 mt-2">
            Personal Twitter
          </p>
          <p>Join the conversation on my account!</p>
          <span class="block text-right m-4">
            <span class="border px-2 py-1 rounded">Visit My Profile</span>
          </span>
        </div>
      </a>
    </div>
  </div>
</section>

{% include "section-schedule.njk" %}

{% include "section-about.njk" %}
