---
title: The Gregg Housh Show - Politics & Activism
description: Official site of The Gregg Housh Show, a live-streamed show Monday-Thursday night where we seek not only to inform but to inspire you to action.
---
{% extends "_includes/default.njk" %}

{% block content %}

  <div class="container mx-auto">
    <div class="text-center px-3 lg:px-0">
      <p
        class="my-4 mb-8 leading-tight text-2xl md:text-xl lg:text-xl font-bold text-gray-100"
      >
        This site is a work-in-progress. I am still working on the design,
        features, and some of the content.
      </p>

      <div class="flex flex-wrap mx-auto justify-center items-center">
        <a
          href="https://www.twitch.tv/gregghoush"
          target="_blank"
          class="mx-2 hover:bg-opacity-75 bg-twitch text-gray-100 font-extrabold rounded my-2 md:my-6 py-4 px-6 shadow-lg w-42"
        >
          <i class="fab fa-twitch"></i>
          <span class="ml-2">Twitch</span>
        </a>
        <a
          href="https://www.youtube.com/channel/UC-igeMJ4Azc1HgRqeK4Rn-Q"
          target="_blank"
          class="mx-2 hover:bg-opacity-75 bg-youtube text-gray-100 font-extrabold rounded my-2 md:my-6 py-4 px-6 shadow-lg w-42"
        >
          <i class="fab fa-youtube"></i> <span class="ml-2">YouTube</span>
        </a>
        <a
          href="https://www.facebook.com/gregghoushshow"
          target="_blank"
          class="mx-2 hover:bg-opacity-75 bg-facebook text-gray-100 font-extrabold rounded my-2 md:my-6 py-4 px-6 shadow-lg w-42"
        >
          <i class="fab fa-facebook"></i> <span class="ml-2">Facebook</span>
        </a>
        <a
          href="https://twitter.com/gregghoushshow"
          target="_blank"
          class="mx-2 hover:bg-opacity-75 bg-twitter text-gray-100 font-extrabold rounded my-2 md:my-6 py-4 px-6 shadow-lg w-42"
        >
          <i class="fab fa-twitter"></i> <span class="ml-2">Twitter</span>
        </a>
        <a
          href="https://instagram.com/gregghoush"
          target="_blank"
          class="mx-2 hover:bg-opacity-75 bg-instagram text-gray-700 font-extrabold rounded my-2 md:my-6 py-4 px-6 shadow-lg w-42"
        >
          <i class="fab fa-instagram"></i> <span class="ml-2">Instagram</span>
        </a>
      </div>
    </div>

    <div class="flex items-center w-full mx-auto content-end">
      <div
        class="browser-mockup flex flex-1 m-6 md:px-0 md:m-12 bg-white w-1/2 rounded shadow-xl"
      >
        <div class="flex-1">
          <img
            src="images/coming-soon.jpg"
            alt="Coming Soon"
            class="w-full"
          />
        </div>
      </div>
    </div>
  </div>

  <section class="py-24">
    <h1
      class="block w-full my-2 text-5xl font-black leading-tight text-center text-gray-200 lg:mt-8 mb-8"
    >
      The Gregg Housh Show
    </h1>
    <div class="w-full mb-8">
      <div class="h-1 mx-auto bg-white w-1/6 opacity-50 my-0 py-0"></div>
    </div>
    <h2
      class="block w-full my-2 text-3xl font-black leading-tight text-center text-gray-200 lg:mt-8 mb-12"
    >
      Highlights / Clips / Content / Updates
    </h2>
    <div
      class="container flex flex-wrap mx-auto items-center justify-center text-gray-100"
    >
      <div
        class="flex-initial m-4 w-full overflow-hidden md:w-5/12 bg-twitch rounded-lg h-40 shadow-blue"
      >
        <a
          href="https://www.twitch.tv/gregghoush"
          target="_blank"
          class="flex items-center h-40"
        >
          <div class="mx-4 w-1/5 text-center">
            <i class="fab fa-youtube fa-5x"></i>
          </div>
          <div class="w-4/5 border-l-2 p-8">
            <p
              class="text-grey-100 font-bold text-4xl leading-none mb-2 mt-2"
            >
              Twitch
            </p>
            <p>Follow me to find out when I go live!</p>
            <span class="block text-right m-4">
              <span class="border px-2 py-1 rounded">Visit My Profile</span>
            </span>
          </div>
        </a>
      </div>

      <div
        class="flex-initial m-4 w-full overflow-hidden md:w-5/12 bg-youtube rounded-lg h-40 shadow-blue"
      >
        <a
          href="https://www.youtube.com/channel/UC-igeMJ4Azc1HgRqeK4Rn-Q"
          target="_blank"
          class="flex items-center h-40"
        >
          <div class="mx-4 w-1/5 text-center">
            <i class="fab fa-youtube fa-5x"></i>
          </div>
          <div class="w-4/5 border-l-2 p-8">
            <p
              class="text-grey-100 font-bold text-4xl leading-none mb-2 mt-2"
            >
              Youtube
            </p>
            <p>Subscribe for highlights and extra videos!</p>
            <span class="block text-right m-4">
              <span class="border px-2 py-1 rounded">Visit My Profile</span>
            </span>
          </div>
        </a>
      </div>

      <div
        class="flex-initial m-4 w-full overflow-hidden md:w-5/12 bg-twitter rounded-lg h-40 shadow-blue"
      >
        <a
          href="https://twitter.com/gregghoushshow"
          target="_blank"
          class="flex items-center h-40"
        >
          <div class="mx-4 w-1/5 text-center">
            <i class="fab fa-twitter fa-5x"></i>
          </div>
          <div class="w-4/5 border-l-2 p-8">
            <p
              class="text-grey-100 font-bold text-4xl leading-none mb-2 mt-2"
            >
              The Show's Twitter
            </p>
            <p>Follow, Like, and Retweet the pinned post!</p>
            <span class="block text-right m-4">
              <span class="border px-2 py-1 rounded">Visit My Profile</span>
            </span>
          </div>
        </a>
      </div>

      <div
        class="flex-initial m-4 w-full overflow-hidden md:w-5/12 bg-facebook rounded-lg h-40 shadow-blue"
      >
        <a
          href="https://www.facebook.com/gregghoushshow"
          target="_blank"
          class="flex items-center h-40"
        >
          <div class="mx-4 w-1/5 text-center">
            <i class="fab fa-facebook fa-5x"></i>
          </div>
          <div class="w-4/5 border-l-2 p-8">
            <p
              class="text-grey-100 font-bold text-4xl leading-none mb-2 mt-2"
            >
              Facebook
            </p>
            <p>Like my page, like/share my pinned post!</p>
            <span class="block text-right m-4">
              <span class="border px-2 py-1 rounded">Visit My Profile</span>
            </span>
          </div>
        </a>
      </div>

      <div
        class="flex-initial m-4 w-full overflow-hidden md:w-5/12 bg-instagram rounded-lg h-40 shadow-blue text-gray-800"
      >
        <a
          href="https://instagram.com/gregghoush"
          target="_blank"
          class="flex items-center h-40"
        >
          <div class="mx-4 w-1/5 text-center">
            <i class="fab fa-instagram fa-5x"></i>
          </div>
          <div class="w-4/5 border-l-2 border-gray-600 p-8">
            <p class="font-bold text-4xl leading-none mb-2 mt-2">Instagram</p>
            <p>Follow for show and personal posts!</p>
            <span class="block text-right m-4">
              <span class="border border-gray-600 px-2 py-1 rounded"
                >Visit My Profile</span
              >
            </span>
          </div>
        </a>
      </div>

      <div
        class="flex-initial m-4 w-full overflow-hidden md:w-5/12 bg-twitter rounded-lg h-40 shadow-lg"
      >
        <a
          href="https://twitter.com/gregghoush"
          target="_blank"
          class="flex items-center h-40"
        >
          <div class="mx-4 w-1/5 text-center">
            <i class="fab fa-twitter fa-5x"></i>
          </div>
          <div class="w-4/5 border-l-2 p-8">
            <p
              class="text-grey-100 font-bold text-4xl leading-none mb-2 mt-2"
            >
              Personal Twitter
            </p>
            <p>Join the conversation on my account!</p>
            <span class="block text-right m-4">
              <span class="border px-2 py-1 rounded">Visit My Profile</span>
            </span>
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="py-24">
    <div class="container max-w-5xl mx-auto">
      <h2
        class="w-full my-2 text-5xl font-black leading-tight text-center text-gray-200 mb-8"
      >
        Schedule
      </h2>
      <div class="w-full mb-8">
        <div class="h-1 mx-auto bg-white w-1/6 opacity-50 my-0 py-0"></div>
      </div>
      <p class="text-xl leading-tight text-center text-gray-200 mx-24">
        Below is the stream schedule. Subject to change of course. Subscribe
        on Twitch to keep up with the latest updates and new live streams.
      </p>
      <div class="flex flex-wrap">
        <div
          class="w-5/6 sm:w-1/2 p-12 md:p-6 text-center md:text-left mx-auto"
        >
          <h3 class="text-gray-200 font-black text-2xl md:text-3xl md:mt-12">
            Weekdays Mon-Thu, 7-9pm
          </h3>
          <p class="text-gray-200 mb-8 text-lg">
            I'll be live for 2 hours every evening on weekdays talking about
            the days news and events.
          </p>
          <h3 class="text-gray-200 font-black text-2xl md:text-3xl md:mt-12">
            Weekends - Random
          </h3>
          <p class="text-gray-200 mb-8 text-lg">
            Random live events like protests, movie watch parties and other
            fun on the weekends.
          </p>
        </div>
        <div class="hidden md:block md:w-1/3 mx-auto md:pt-16">
          <img
            src="images/worldclock.png"
            alt="The Gregg Housh Show Schedule"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray-600 w-full mx-auto py-24">
    <div class="container mx-auto">
      <h2
        class="w-full mb-8 text-5xl font-black leading-tight text-center text-white"
      >
       About
      </h2>
      <div class="w-full mb-8">
        <div class="h-1 mx-auto bg-white w-1/6 opacity-50 my-0 py-0"></div>
      </div>
  
      <h3 class="my-8 px-12 text-3xl font-extrabold text-gray-200 text-center">
        Truth, Logic, Action, Power.
      </h3>
      <div class="mx-auto">
        <p class="text-xl text-gray-200 mx-24 mb-12 text-center">
            This is a show where I seek not only to inform, but to inspire you to action. We’re going to talk about Politics and Current Events, but we’re going to do it from an angle of activism, progressive values, civil liberties, and human rights. It’s my goal to enable an informed citizenry. And I'm going to do it by emphasizing critical thinking and actual science versus nonsensical quackery. But most important of all, I hope to inspire you, my listeners, to take action in your community.
          </p>
      </div>
    
      <div class="text-center">
        <a
          class="inline-block mx-auto hover:bg-opacity-75 bg-gray-800 text-gray-200 font-extrabold text-lg rounded py-4 px-8 shadow-lg w-64"
          href="/about/"
          ><i class="fas fa-smile"></i> <span class="ml-2">More About Me</span>
        </a>
      </div>
    </div>
  </section>
    
{% endblock %}