---
layout: default.njk
title: The Gregg Housh Show - Privacy Policy
description: Official site of The Gregg Housh Show. This is our privacy policy, it's short and simple to make things clear.
---

<section
class="w-full mx-auto text-center pt-24"
>
	<h1
	  class="w-full my-2 text-5xl font-black leading-tight text-center text-gray-100 mb-8"
	>
	  Privacy Policy
	</h1>
	<div class="w-full">
	  <div class="h-1 mx-auto bg-white w-1/6 opacity-50 my-0 py-0"></div>
	</div>
	
	<div class="container mx-auto text-left pt-12">
	  <p class="text-xl text-gray-200">
		This policy will explain areas of this website that may affect your
		privacy and personal details, how we process, collect, manage and
		store those details and how your rights under the GDPR, DPA &amp;
		PECR are adhered to. Our contact information is provided if you have
		any questions.
	  </p>
	
	  <h3 class="font-extrabold text-gray-500 uppercase mt-8 mb-4">
		Website Visitor Tracking
	  </h3>
	
	  <p class="text-xl text-gray-200">
		This websites partners use tracking software to monitor its visitors
		to better understand how they use it. The software will save a
		cookie to your computers hard drive in order to track and monitor
		your engagement and usage of the website, but will not store, save
		or collect personal information.
	  </p>
	
	  <h3 class="font-extrabold text-gray-500 uppercase mt-8 mb-4">
		Contact & Communication With us
	  </h3>
	
	  <p class="text-xl text-gray-200">
		Users contacting us through this website do so at their own
		discretion and provide any such personal details requested at their
		own risk. Your personal information is kept private and stored
		securely until a time it is no longer required or has no use. Where
		we have clearly stated and made you aware of the fact, and where you
		have given your express permission, we may use your details to send
		you products/services information through a mailing list system.
		This is done in accordance with the regulations named in 'The
		policy' above.
	  </p>
	
	  <h3 class="font-extrabold text-gray-500 uppercase mt-8 mb-4">
		External Website Links &amp; Third Parties
	  </h3>
	
	  <p class="text-xl text-gray-200">
		Although we only look to include quality, safe and relevant external
		links, users are advised to adopt a policy of caution before
		clicking any external web links mentioned throughout this website.
	  </p>
	</div>  
</section>
