---
layout: false
permalink: /search-posts.json
eleventyExcludeFromCollections: true
---

{
	"posts": [
	{%- for post in collections.post %}
	{%- if post.data.excludeFromSearch %}{% else %}
		{
			"url": "{{ metadata.url }}{{ post.data.page.url }}",
			"title": "{{ post.data.title | toJSON }}",
			"date":"{{ post.date }}",
			"text": {{ post.templateContent | striptags(true) | toJSON | safe }}
		}{% if loop.revindex0 != 0 %},{% endif %}
	{%- endif %}
	{%- endfor %}
	]
}
