---
layout: false
permalink: js/site.js
eleventyExcludeFromCollections: true
---

function debounce(func, wait, immediate) { 
  var timeout; 
  
  return function() { 
    var context = this, args = arguments; 
    
    var later = function() { 
      timeout = null; 
      
      if (!immediate) func.apply(context, args); 
    }; 
    
    var callNow = immediate && !timeout;
    
    clearTimeout(timeout); 
    
    timeout = setTimeout(later, wait); 
    
    if (callNow) func.apply(context, args); 
  }; 
}; 

function initSearch() { 
  return { query: '', loading: true, resultsHtml: null, search: debounce(function() { 
    this.loading = true; 
    
    if (!this.query) { return; } 
    
    fetch("https://gregghoush.com/search.json").then(res => res.json()) .then(data => { fuse = new Fuse(data.episodes, { keys: ['title', 'text', 'guest', 'number'], shouldSort: true, threshold: 0.2 });
    
    this.resultsHtml = null; 
    
    this.loading = false; 
    
    let result = fuse.search(this.query); 
    
    if (result.length === 0) { } else { this.resultsHtml = result.map(({ item }) => { 
      return '<a id="searchResults" href="' + item.url + '"class="block px-2 py-3 bg-white text-sm text-left border-b border-gray-300 hover:bg-gray-400 hover:no-underline"
    >Episode #' + item.number + ' - ' + item.title + '</a>'; }).join(''); } }); }, 250), searchPosts: debounce(function() { this.loading = true; if (!this.query) { return; }

    fetch("https://gregghoush.com/search-posts.json") .then(res => res.json()).then(data => { fuse = new Fuse(data.posts, { keys: ['title', 'text'], shouldSort: true, threshold: 0.2 }); 
    
    this.resultsHtml = null; 
    
    this.loading = false; let result = fuse.search(this.query); 
    
    if (result.length === 0) { } else { this.resultsHtml = result.map(({ item }) => { 
      return '<a id="searchResults" href="' + item.url + '"
  class="block px-2 py-3 bg-white text-sm text-left border-b border-gray-300 hover:bg-gray-400 hover:no-underline"
  >' + item.title + '</a
>'; }).join(''); } }); }, 250) }; } 

{%- include "../node_modules/alpinejs/dist/cdn.js" -%}
{%- include "../node_modules/fuse.js/dist/fuse.basic.min.js" -%}

